<ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button">
    <i class="ion-arrow-left-c"></i> retour
  </ion-nav-back-button>
</ion-nav-bar>

<ion-nav-view>

</ion-nav-view>
<ion-tabs class="tabs-positive tabs-icon-top">
  <ion-tab ui-sref="app.tabs.photos" title="Photos" icon-on="ion-images" icon-off="ion-images">
    <!-- Tab 1 content -->
  </ion-tab>

  <ion-tab ui-sref="app.tabs.favorites" title="Favorites" icon-on="ion-heart" icon-off="ion-heart">
    <!-- Tab 2 content -->
  </ion-tab>
</ion-tabs>
